<!DOCTYPE html>
<style>
body {
	background-color: ##282a36;
	color: #f8f8f2;
} 

div.verticalLine {
  margin-bottom: 200px;
  border-left: 2px solid black;
  height: 500px;
  left: 180px;
  position: absolute;
}
</style>
