<!DOCTYPE html>
<style>

div.name {
	text-align: center;
}
div.descriptions {
	text-align: center;
}
div.links {
	text-align: center;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

</style>


